<h1>微信支付你懂的</h1>
<html>
<head>
    <title>支付</title>
</head>
    <form action='' method='get'>
        <input type="button" id="btnPay" value="提交"/>
    </form>
</html>

<script type="text/javascript" src="/js/jquery.min.js"></script>
<script src="/js/md5.js"></script>
<script src="/js/sha1.js"></script>
<script type="text/javascript" src="/js/weixin/wxTool.js"></script>
<script type="text/javascript">
    var ip = '<%=wx.ip%>';
    var appId = '<%=wx.appId%>';
    var partnerId = '<%=wx.partnerId%>';
    var key = '<%=wx.key%>';
    var partnerKey = '<%=wx.partnerKey%>';
    var pName = "测试";
    var orderId = "100118";
    var order_id = "sssssssssssssssssss";
    var totalFee = "1";
    var oldTimeStamp = getTimeStamp();
    var oldNonceStr = getNonceStr();
    var oldPackageString = getPackage(pName,orderId,order_id,partnerId,ip,totalFee,partnerKey);
    var sign = getSign(appId,key,oldNonceStr,oldPackageString,oldTimeStamp);
    document.addEventListener('WeixinJSBridgeReady',function onBridgeReady(){
        //公众号支付
        $('#btnPay').click(function(e){
            WeixinJSBridge.invoke('getBrandWCPayRequest',{
                "appId" : appId, //公众号名称，由商户传入
                "timeStamp" : oldTimeStamp, //时间戳
                "nonceStr" : oldNonceStr, //随机串
                "package" : oldPackageString,//扩展包
                "signType" : 'SHA1', //微信签名方式:1.sha1
                "paySign" : sign //微信签名
            },function(res){
                if(res.err_msg == "get_brand_wcpay_request:ok" ) {
                    document.location.href = "";
                }
                // 使用以上方式判断前端返回,微信团队郑重提示：res.err_msg将在用户支付成功后返回ok，但并不保证它绝对可靠。
                //因此微信团队建议，当收到ok返回时，向商户后台询问是否收到交易成功的通知，若收到通知，前端展示交易成功的界面；若此时未收到通知，商户后台主动调用查询订单接口，查询订单的当前状态，并反馈给前端展示相应的界面。
            });

        });
    },false);
</script>