<% include header %>
<div class="container bs-wcy_citybox">
    <div class="bs-wcy_govnoticetitle">我的订单</div>
    <table class="table table-striped bs-wcy_govnoticeTab">
        <thead>
        <tr>
            <th width="38%" height="35">项目</th>
            <th width="13%">数量</th>
            <th width="13%">金额</th>
            <th width="17%">订单状态</th>
            <th width="19%">操作</th>
        </tr>
        </thead>
        <tbody>
        <%console.log(orders.list.length);%>
        <%orders.list.forEach(function(o){%>
            <tr>
                <td height="55"><%=o.name%></td>
                <td><%=o.quantity%></td>
                <td>¥<%=o.totalPrice%></td>
                <td><span class="bs-wcy_orange"><%=o.status%></span></td>
                <td>
                    <%if('未支付'=== o.status){%>
                    <a href="/web/reqTrade/<%=o._id%>/<%=o.oid%>"><span class="bs-wcy_red">付款</span></a>
                    <%}%>
                    <a href="/orderDetail/<%=o._id%>"><span class="bs-wcy_green">查看详情</span></a>
                </td>
            </tr>
        <%});%>
        </tbody>
    </table>
</div>
<% include footer %>