<% include header %>
<div class="bs-wcy_htbox container">
    <a href="#">首页</a> > <a href="/products/<%=product.city._id%>"><%=product.city.name%></a> > <%=product.name%>
</div>
<div class="bs-wcy_htBanbgcolor">
    <div class="bs-wcy_htBanbg">
        <!--大广告图切换位置-->
        <div class="bs-wcy_htBanbox">
            <!--大图列表-->
            <div id="slider" class="nivoSlider">
                <!--<img src="/images/wcy_hotelbanner01.jpg" data-thumb="/images/wcy_hotelbanner01_90x60.jpg" alt="西湖" />-->
                <!--<img src="/images/wcy_hotelbanner02.jpg" data-thumb="/images/wcy_hotelbanner02_90x60.jpg"  alt="西湖" />-->
                <!--<img src="/images/wcy_hotelbanner03.jpg" data-thumb="/images/wcy_hotelbanner03_90x60.jpg" alt="西湖" />-->

                <%for(var i=0;i<(product.image.length>3?3:product.image.length);i++){%>
                <img src="http://dd885.b0.upaiyun.com/<%=product.image[i].url%>!productDetailHead" data-thumb="http://dd885.b0.upaiyun.com/<%=product.image[i].url%>!productDetailBanner" alt="<%=product.image[i].intro%>"/>
                <%}%>

            </div>
            <!--浮层日期信息-->
            <div class="bs-wcy_htBanInfo">
                <div class="hotelname">
                    <h1><%=product.name%></h1>
                </div>
                <form class="formtab" name="form_order" id="form_order" action="/package/fill" method="POST">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td width="30%" height="50" align="left" valign="middle"><label>入住日期</label></td>
                            <td align="left" valign="middle">
                                <input class="inputcalendar" size="16" type="text" value="" id="packageDate">
                            </td>
                        </tr>
                        <tr>
                            <td width="30%" height="50" align="left" valign="middle"><label>价格</label></td>
                            <td align="left" valign="middle" class="price" id="showPrice"></td>
                        </tr>
                        <tr>
                            <td height="70" colspan="2" align="left" valign="bottom">
                                <input type="hidden" name="product" id="productID" value="<%=product._id%>">
                                <button type="submit" class="btn btn-block bs-wcy_htBanInfosubmit">立即购买</button>
                            </td>
                        </tr>
                    </table>
                    <!-- hidden fields -->
                    <input type="hidden" id="price" name="price" value="">
                    <input type="hidden" id="selDate" name="selDate" value="">
                    <input type="hidden" id="prices" value=<%-product.prices%>>
                </form>
            </div>
            <div id="cal">
            </div>
        </div>
    </div>
</div>
<!-- 图片列表  -->
<div class="bs-wcy_htbox container" >
    <div class="bs-wcy_htimglistbox" id="relevantProduct">
        <!--<div class="bs-wcy_htimglisttitle"><img src="/images/wcy_hotelTictitle01.gif" alt="相关商品"></div>-->
        <!--<ul>-->
        <!--<li> <a href="#"><img src="/images/wcy_img01.jpg" alt="西湖门票"></a> <a href="#" class="cityinfo"> <span class="price">￥<span class="pricebig">800</span>起</span> <span class="info">西湖门票+希尔顿高级客房1晚</span> </a> </li>-->
        <!--<li> <a href="#"><img src="/images/wcy_img01.jpg" alt="西湖门票"></a> <a href="#" class="cityinfo"> <span class="price">￥<span class="pricebig">200</span>起</span> <span class="info">西湖门票+龙井门票联票</span> </a> </li>-->
        <!--<li> <a href="#"><img src="/images/wcy_img01.jpg" alt="西湖门票"></a> <a href="#" class="cityinfo"> <span class="price">￥<span class="pricebig">100</span>起</span> <span class="info">龙井门票</span> </a> </li>-->
        <!--</ul>-->
    </div>
</div>
<!--  产品信息 -->
<div class="bs-wcy_htbox container">
    <ul class="nav nav-tabs bs-wcy_htProNav">
        <li class="active"><a href="#">产品简介</a></li>
        <li><a href="#prodetail">产品详情</a></li>
        <li><a href="#ydxz">预定须知</a></li>
    </ul>
    <div class="bs-wcy_htProbox">
        <div class="title"><img src="/images/wcy_hotelTictitle02.gif"  alt="产品简介"></div>
        <div class="graybox">
            <%-product.content.replace(/\n/g, '<br/>')%>
        </div>
        <div class="title" id="prodetail"><img src="/images/wcy_hotelTictitle03.gif"  alt="产品详情"></div>
        <%product.relatedProductID.forEach(function(product){%>
        <div class="blackbox">
            <p>产品名称：<%=product.product.name%></p>

            <p>产品等级：<%=product.product.level%></p>

            <p>产品地址：<%=product.product.addr%> <a href="#">地图</a></p>

            <p>营业时间：<%=product.product.openTime%> </p>
        </div>
        <div class="graybox">
            <img src="http://dd885.b0.upaiyun.com/<%=product.product.image[0]?product.product.image[0].url:""%>" class="imgfloat">
            <p><%-product.product.intro.replace(/\n/g, '<br/>')%></p>
            <img src="http://dd885.b0.upaiyun.com/<%=product.product.image[1]?product.product.image[1].url:""%>">
        </div>
        <% });%>


        <!--
        <div class="blackbox">
            <p>景点名称：西湖
            <p>景点等级：AAAAA级景区
            <p>景点地址：浙江省杭州市西湖风景名胜区 <a href="#">地图</a>
            <p>营业时间：7:00~18:00
        </div>
        <div class="graybox"> <img src="/images/wcy_hotelTicket03.jpg" class="imgfloat">
            <p>宋代大文豪苏东坡曾写道：“天下西湖三十六，就中最好是杭州”。西湖拥有三面云山，一水抱城的自然风光，以“欲把西湖比西子，淡妆浓抹总相宜”的山水秀色，点缀杭州.</p>
            <p>西湖旧称武林水、钱塘湖、西子湖，宋代始称西湖。西湖位于杭州城西，三面环山，东面濒临市区，是一个湖泊型的国家级风景名胜区。</p>
        </div>
        -->
        <div class="title" id="ydxz"><img src="/images/wcy_hotelTictitle04.gif"  alt="预定须知"></div>
        <div class="YDlist">
            <ul>
                <li>
                    <p class="black">预订规则</p>

                    <p><%-product.bookRule.replace(/\n/g, '<br/>')%></p>
                </li>
                <li>
                    <p class="black">使用规则</p>

                    <p><%-product.useRule.replace(/\n/g, '<br/>')%></p>
                </li>
                <li>
                    <p class="black">取消规则</p>

                    <p><%-product.cancelRule.replace(/\n/g, '<br/>')%></p>
                </li>
            </ul>
        </div>
    </div>
</div>

<% include footer %>
<script src="/js/json2.js"></script>
<script src="/js/jquery.calendar.js"></script>
<script src="/js/jquery.nivo.slider.js"></script>
<script >
    $(document).ready(function () {
        //init
        $('#packageDate').val("");
        $('#price').val("");
        $('#selDate').val("");
        $('#showPrice').html("");
        //submit
        $('#form_order').submit(function(event){
            if($('#nav_logined').hasClass('hidden')){
                event.preventDefault();
                $('.loginModal').modal('show');
            } else {
                if(""===$('#selDate').val()){
                    alert("请选择日期!");
                    return false;
                }
                if(""===$('#price').val()){
                    alert("选择的日期没有价格，请重新选择!");
                    return false;
                }
            }
        });
        //cal select
        $('#cal').calender({
            'target':'packageDate',
            'data':<%-product.prices.replace(/"/g, '\'')%>,
            'onSelect':function(data){
                $('#price').val(data.price);
                $('#selDate').val(data.date);
                if(0<parseInt(data.price)){
                    $('#showPrice').html("￥<span>"+data.price+"</span>起");
                }else{
                    $('#showPrice').html("");
                }
            }
        });

        $('#slider').nivoSlider({
            effect: 'fade', //Specify sets like: 'fold,fade,sliceDown'
            slices: 15,
            animSpeed: 200, //Slide transition speed
            pauseTime: 3000,
            startSlide: 0, //Set starting Slide (0 index)
            directionNav: false, //Next & Prev
            directionNavHide: true, //Only show on hover
            controlNav: true, //1,2,3...
            controlNavThumbs: true, //Use thumbnails for Control Nav
            controlNavThumbsFromRel: true, //Use image rel for thumbs
            controlNavThumbsSearch: '.jpg', //Replace this with...
            controlNavThumbsReplace: '_thumb.jpg', //...this in thumb Image src
            keyboardNav: true, //Use left & right arrows
            pauseOnHover: true, //Stop animation while hovering
            manualAdvance: false, //Force manual transitions
            captionOpacity: 0.3, //Universal caption opacity
            beforeChange: function () {
            },
            afterChange: function () {
            },
            slideshowEnd: function () {
            } //Triggers after all slides have been shown
        });

        var refreshRelevanceProduct = function(productid){
            var productStr = '<li>'+
                    '<a href="/productDetail/__productid__"><img src="__imageurl__" alt="__imagename__"></a>'+
                    '<a href="/productDetail/__productid__" class="cityinfo">'+
                    '<span class="price">￥<span class="pricebig">__price__</span>起</span>'+
                    '<span class="info" title="__productname__">__productshortname__</span>'+
                    '</a>'+
                    '</li>';
            $.ajax({
                url:'/product/relevance/'+productid
                ,method:"GET"
            }).done(function(data){
                        if(data.data.length==0){
                            $('#relevantProduct').removeClass("bs-wcy_htimglistbox");
                            console.log("no relevant products");
                            return;
                        }else{
                            var relevanceProductListStr = "";
                            $.each(data.data,function(index,data){
                                relevanceProductListStr += productStr.replace(/__imageurl__/,data.image.url)
                                        .replace(/__imagename__/,data.image.intro)
                                        .replace(/__price__/,data.price)
                                        .replace(/__productshortname__/,data.shortName)
                                        .replace(/__productname__/,data.name)
                                        .replace(/__productid__/g,data._id);
                            });
                            var header='<div class="bs-wcy_htimglisttitle"><img src="/images/wcy_hotelTictitle01.gif" alt="相关商品"></div>';
                            $('#relevantProduct').append(header+"<ul>"+relevanceProductListStr+"</ul>");
                        }
                    });
        };
        setTimeout(function(){
            refreshRelevanceProduct($('#productID').val());
        },1000);

    });
</script>
