<%include header%>
  <div id="wrap">
      <form name="form1" id="form1" method="post" action="/ticket/submitOrder">
     	<div class="container bs-wcy-tickediv">
        		<div class="bs-wcy-tickettop">
                		<div class="proBar01">
                        		<p class="info deepgreen">填写预订信息</p>
                                <p class="info">在线支付</p>
                                <p class="info">预定成功</p>
                        </div>
                </div>
          <div class="bs-wcy-tickeBox">
       		<div class="bs-wcy-tickeorderpad ticket">
                        		<h3><%=product.name%></h3>
                        		<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tab">
                                      <tr>
                                        <td width="35%" height="80" align="left" valign="middle">使用日期：<%=product.time%></td>
                                        <td width="43%" align="left" valign="middle">
                                          <input type="button"  id="sub" value="" class="subbt">
                                       	  <input type="text" class="num" id="num" name="num" value="1">
                                          <input type="button"  id="add" value="" class="addbt">
                                        </td>
                                        <td width="22%" align="left" valign="middle" class="bs-wcy_orange">
                                        	<span class="price" id="display"><%=product.price%></span>元
                                        </td>
                                  </tr>
                                      <tr class="bs-wcy_gray">
                                        <td align="left" valign="top">
                                        	<p><%-product.content.replace(/\n/g, '<br/>')%></p>
                                        </td>
                                        <td align="left" valign="top">
                                          	<p>预订须知</p>
                                          	<p>预订规则：</p>
                                            <p><%-product.bookRule.replace(/\n/g, '<br/>')%></p>
                                          	<p>使用规则：</p>
                                            <p><%-product.useRule.replace(/\n/g, '<br/>')%></p>
                                          	<p>取消规则：</p>
                                            <p><%-product.cancelRule.replace(/\n/g, '<br/>')%></p>
                                         </td>
                                        <td align="left" valign="middle">&nbsp;</td>
                                  </tr>
                          </table>
                <div class="rebate"><input type="checkbox" id="usecash"> &nbsp;使用优惠券</div>
                <!-- hidden fields -->
                <input type="hidden" id="sp" value=<%=product.price%>/>
                <input type="hidden" id="pName" name="pName" value="<%=product.name%>"/>
                <input type="hidden" id="time" name="time" value="<%=product.time%>"/>
                <input type="hidden" id="orderType" name="orderType" value="t"/>
                <input type="hidden" id="pid" name="pid" value="<%=product.id%>"/>
                <input type="hidden" id="isWeekend" name="isWeekend" value="<%=product.isWeekend%>"/>
                <input type="hidden" id="lid" name="lid" value="<%=product.lid%>"/>
                <input type="hidden" id="orderCoupon" name="orderCoupon" value=""/>
                <input type="hidden" id="orderPayValue" name="orderPayValue" value="<%=product.price%>"/>
       		</div>
              <div class="useCouponslist" id="couponList">

              </div>
            <div class="bs-wcy-tickeorderpad ticket">
              <div class="rebate">还需支付：<span class="bs-wcy_orange">¥<span class="pricebig" id="payValue"><%=product.price%></span></span></div>
   		      <h3>旅客信息</h3>
                         <table width="100%" border="0" cellspacing="0" cellpadding="0" class="guesttab">
                            <tr>
                                <td width="13%" height="30" align="left" valign="middle">使用人姓名</td>
                                <td width="87%" align="left" valign="middle">
                                <input type="text" name="person" id="person"></td>
                            </tr>
                            <tr>
                                <td height="30" align="left" valign="middle">手机号</td>
                                <td align="left" valign="middle"><input type="text" name="mobile" id="mobile"></td>
                            </tr>
                            <tr id="errorBox" class="hidden">
                                <td colspan="2" id="errorMsg" style="color: #ff0000"></td>
                            </tr>
                        </table>
                    </div>
                <input type="submit" class="btn bs-ticketsubmit btn-lg" value="提交">
    	 </div>
       </form>
 </div>
<%include footer%>
    <script src="./../../js/underscore.min.js"></script>
    <script>
	$(document).ready(function(){
        var us = _.noConflict();
        //计算仍需支付的金额
        var reCaculatePayValue = function(){
            var totalPrice = parseInt($('#sp').val())*parseInt($("#num").val());
            //设置初始的需要支付的金额为totalPrice
            var payValue = totalPrice;
            //如果勾选了使用优惠券
            if($('#usecash').prop('checked')){
                //如果选择了其中一个优惠券
                if($('input[name=coupon]:checked').val()){
                    console.log('i am here!');
                    var couponValue = parseInt($('input[name=coupon]:checked').val());
                    var couponType  = parseInt($('input[name=coupon]:checked').attr('couponType'));
                    if(couponType==0){
                        payValue = totalPrice - couponValue;
                    }else if(couponType==1){
                        payValue = Math.round(totalPrice * (1-couponValue/10));
                    }else if(couponType==3){
                        payValue = value;
                    }else if(couponType==4){
                        payValue = 0.01;
                    }
                }
            }
            $('#payValue').html(payValue);
            $('#orderPayValue').val(payValue);
        };

        var refreshCouponList = function(product,totalPrice){
            $.ajax({
                type:"GET",
                url:'/getRelatedCoupon',
                data:{product:product,totalPrice:totalPrice}
            }).done(function(data){
                        if(data.data.length==0){
                            //显示暂无优惠券
                        }else{
                            //循环显示优惠券
                            var couponStr = '<li>'+
                                    '<input type="radio" class="cashRadio" name="coupon" value="__value__" couponType="__type__" id="__id__">'+
                                    '<div class="cashbox cashbg">'+
                                    '<div class="cashNum">__value__</div>'+
                                    '<div class="pwhite">'+
                                    '<p>有效期：__effectDate__-__expriyDate__</p>'+
                                    '<p>使用规则：__name__</p>'+
                                    '</div>'+
                                    '<div class="cashWord">元优惠券</div>'+
                                    '</div>'+
                                    '</li>';
                            var couponListStr = ""
                            $.each(data.data,function(index,data){
                                couponListStr += couponStr.replace(/__value__/g,data.value)
                                        .replace(/__name__/,data.name)
                                        .replace(/__effectDate__/,data.effectDate)
                                        .replace(/__expriyDate__/,data.expiryDate)
                                        .replace(/__type__/,data.type)
                                        .replace(/__id__/,data._id);
                            });
                            couponListStr = "<ul>"+couponListStr+"</ul>";
                            $('#couponList').html(couponListStr);
                        }
                    });
        };

        var reCaculatePrice = function(num){
            var num=num;
            if( num <= 0 ){
                num = 1;
            }else if( num > 99 ){
                num = 99;
            }
            $("#num").val(num);
            var totalPrice = parseInt($('#sp').val())*num;
            //每次重新算价格的时候需要计算一次仍需支付的金额
            refreshCouponList('<%=product.id%>',totalPrice);
            $('#payValue').html(totalPrice);
            $('#display').html(totalPrice);
        };

        reCaculatePrice(1);

        $("#add").click(function(){
            var num = $("#num").val();
            num = parseInt(num)+1;
            reCaculatePrice(num);
        });

        $("#sub").click(function(){
            var num = $("#num").val();
            num = parseInt(num)-1;
            reCaculatePrice(num);
        });

        $('#num').keyup(function(){
            var num = $('#num').val();
            reCaculatePrice(num);
        });


        //初始化的时候，按单价来读取优惠券
        refreshCouponList('<%=product.id%>',<%=product.price%>);
        //初始化优惠券按钮
        $('#usecash').prop('checked',false);
        //点击优惠券
        $('#usecash').click(function(){
            if(!$(this).attr("checked")){
                $('.useCouponslist').show();
                $(this).attr("checked",true);
            }
            else if($(this).attr("checked"))
            {
                $('.useCouponslist').hide();
                $(this).attr("checked",false);
            }
        });

        $('#couponList').on('click','input:radio',function(){
            $('#orderCoupon').val($('input[name=coupon]:checked').attr('id'));
            reCaculatePayValue();
        });

        //submit check
        $('#form1').submit(function(e){
            e.preventDefault();
            if($('#nav_logined').hasClass('hidden')){
                //如果是未登录状态则先跳登录框
                $('.loginModal').modal('show');
            }else if(us.isEmpty($('#person').val())){
                $('#errorBox').removeClass('hidden');
                $('#errorMsg').empty().text('使用人姓名不能为空!');
                return false;
            }else if(us.isEmpty($('#mobile').val())){
                $('#errorBox').removeClass('hidden');
                $('#errorMsg').empty().text('手机号不能为空!');
                return false;
            }else if(!/^1\d{10}$/gi.test($('#mobile').val())){
                $('#errorBox').removeClass('hidden');
                $('#errorMsg').empty().text('手机号码格式不正确!');
                return false;
            }
            $.ajax({
                 url:"/order/submit"
                ,method:"POST"
                ,data:$('#form1').serialize()
            }).done(function(data){
                        if(data.error == 10010){
                            $('.loginModal').modal('show');
                        }else if(data.error !=0 ){
                            //如果报错则显示错误信息
                            $('#errorBox').removeClass('hidden');
                            $('#errorMsg').empty().text(data.errorMsg);
                        }else{
                            window.location.href="/order/confirm/"+data._id;
                        }
                    }).fail(function(){
                        $('#errorBox').removeClass('hidden');
                        $('#errorMsg').empty().text("网络异常，请重试！");
                    });
        });
	});
	</script>