<% include header %>
<style>
    #baidumap img {
        max-width: none;
    }
</style>
<div class="bs-wcy_htbox container">
    <div class="bs-wcy_htTitle">
        <a href="#">首页</a> > <a href="/products/<%=product.city._id%>"><%=product.city.name%></a> > <%=product.name%>
    </div>

</div>
<div class="bs-wcy_htBanbgcolor">
    <div class="bs-wcy_htBanbg">
        <!--大广告图切换位置-->
        <div class="bs-wcy_htBanbox">
            <!--大图列表-->
            <div id="slider" class="nivoSlider">

                <%for(var i=0;i<(product.image.length>3?3:product.image.length);i++){%>
                <img src="http://dd885.b0.upaiyun.com/<%=product.image[i].url%>!productDetailHead" data-thumb="http://dd885.b0.upaiyun.com/<%=product.image[i].url%>!productDetailBanner" alt="<%=product.image[i].intro%>"/>
                <%}%>

            </div>
            <!--浮层日期信息-->
            <div class="bs-wcy_htBanInfo">
                <div class="hotelname">
                    <h1><%=product.name%></h1>
                </div>
                <form class="formtab" role="form" method="GET" id="form_order" action="/ticket/fill">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <%if(4!==parseInt(product.type)){%>
                        <tr>
                            <td width="30%" height="50" align="left" valign="middle"><label>有效期</label></td>
                            <td align="left" valign="middle">
                                <select id="dateSelect" class="inputSelect">

                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td width="30%" height="30" align="left" valign="middle"><label>门票类型</label></td>
                            <td align="left" valign="middle">
                                <input name="weekend" id="wk" type="radio" isWk="y" checked>&nbsp;周末&nbsp;&nbsp;&nbsp;
                                <input name="weekend" id="nor" isWk="n" type="radio">&nbsp;平日
                            </td>
                        </tr>
                        <tr>
                            <td width="30%" height="50" align="left" valign="middle"><label>价格</label></td>
                            <td align="left" valign="middle" class="price" id="formprice"><span id="divPrice"></span></td>
                        </tr>
                        <%}else{%>
                        <%}%>
                        <tr>
                            <td height="50" colspan="2" align="left" valign="bottom">
                                <input type="hidden" name="product" id="productID" value="<%=product._id%>">
                                <button type="submit" class="btn btn-block bs-wcy_htBanInfosubmit">立即购买</button>
                            </td>
                        </tr>
                    </table>
                    <!--hidden fields-->
                    <input type="hidden" name="exDate" id="exDate"/>
                    <input type="hidden" name="sPrice" id="sPrice"/>
                    <input type="hidden" name="isWeekend" id="isWeekend"/>
                    <input type="hidden" name="lid" id="lid"/>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- 图片列表  -->
<div class="bs-wcy_htbox container">
    <div class="bs-wcy_htimglistbox" id="relevantProduct">

    </div>
</div>
<!--  产品信息 -->
<div class="bs-wcy_htbox container">
    <ul class="nav nav-tabs bs-wcy_htProNav">
        <li class="active"><a href="#">产品简介</a></li>
        <li><a href="#prodetail">产品详情</a></li>
        <li><a href="#ydxz">预定须知</a></li>
    </ul>
    <div class="bs-wcy_htProbox">
        <div class="title"><img src="/images/wcy_hotelTictitle02.gif" alt="产品简介"></div>
        <div class="graybox">
            <p><%-product.content.replace(/\n/g, '<br/>')%></p>
        </div>
        <div class="title" id="prodetail"><img src="/images/wcy_hotelTictitle03.gif" alt="产品详情"></div>



       <%if(product.type==5){%>
        <%product.relatedProductID.forEach(function(product){%>
        <div class="blackbox">
            <p>产品名称：<%=product.product.name%></p>

            <%-product.product.level%>

            <p>产品地址：<%=product.product.addr%> <a href="#" class="baidumap" lat="<%=product.product.gps.lat%>" lon="<%=product.product.gps.lon%>">地图</a></p>
            <div class="modal fade" id="baidumap" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div id="baidumapcontent" style="height: 400px;">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p>营业时间：<%=product.product.openTime%> </p>
        </div>
        <div class="graybox">
            <img src="http://dd885.b0.upaiyun.com/<%=product.product.image[3].url%>!Detail550" class="imgfloat">
            <p><%-product.product.intro.replace(/\n/g, '<br/>')%></p>
            <img src="http://dd885.b0.upaiyun.com/<%=product.product.image[4].url%>!Detail880">
        </div>
        <% });%>

       <%}else{%>
            <div class="blackbox">
                <p>产品名称：<%=product.name%></p>

                <%-product.level%>

                <p>产品地址：<%=product.addr%> <a href="#">地图</a></p>

                <p>营业时间：<%=product.openTime%> </p>
            </div>
            <div class="graybox">
                <img src="http://dd885.b0.upaiyun.com/<%=product.image[3].url%>!Detail550" class="imgfloat">
                <p><%-product.intro.replace(/\n/g, '<br/>')%></p>
                <img src="http://dd885.b0.upaiyun.com/<%=product.image[4].url%>!Detail880">
            </div>
        <%}%>






        <!--
        <div class="graybox"><img src="/images/wcy_hotelTicket03.jpg" class="imgfloat">

            <p>宋代大文豪苏东坡曾写道：“天下西湖三十六，就中最好是杭州”。西湖拥有三面云山，一水抱城的自然风光，以“欲把西湖比西子，淡妆浓抹总相宜”的山水秀色，点缀杭州.</p>

            <p>西湖旧称武林水、钱塘湖、西子湖，宋代始称西湖。西湖位于杭州城西，三面环山，东面濒临市区，是一个湖泊型的国家级风景名胜区。</p>
        </div>
        -->
        <div class="title" id="ydxz"><img src="/images/wcy_hotelTictitle04.gif" alt="预定须知"></div>
        <div class="YDlist">
            <ul>
                <li>
                    <p class="black">预订规则</p>

                    <p><%-product.bookRule.replace(/\n/g, '<br/>')%></p>
                </li>
                <li>
                    <p class="black">使用规则</p>

                    <p><%-product.useRule.replace(/\n/g, '<br/>')%></p>
                </li>
                <li>
                    <p class="black">注意事项</p>

                    <p><%-product.cancelRule.replace(/\n/g, '<br/>')%></p>
                </li>
            </ul>
        </div>
    </div>
</div>
<% include footer %>
<script type="text/javascript" src="/js/jquery.nivo.slider.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=Ml0U5j0GPltz1dBjqz1ZHUF5"></script>
<script>
    function setShowData(){
        if(!$('#dateSelect').val() || ""===$('#dateSelect').val()||undefined===$('#dateSelect').val()){
            $('#exDate').val("");
//            var array = $('#dateSelect').val().split(',');
            $('#wk').val("");
            $('#nor').val("");
            $('#divPrice').html("");
            $('#sPrice').val("");
            $('#isWeekend').val("");
            $('#lid').val("");
        }else{
            console.log(!$('#dateSelect').val(),'aaaaaaaaaaa');
            $('#exDate').val($('#dateSelect :checked').text());
            var array = $('#dateSelect').val().split(',');
            $('#wk').val(array[1]);
            $('#nor').val(array[0]);
            $('#divPrice').html("￥"+$("input[name='weekend']:checked").val()+"起");
            $('#sPrice').val($("input[name='weekend']:checked").val());
            $('#isWeekend').val($("input[name='weekend']:checked").attr('isWk'));
            $('#lid').val(array[2]);
        }
    };

    $(document).ready(function () {
        //inits
        setShowData();

        //submit
        $('#form_order').submit(function(event){
            if($('#nav_logined').hasClass('hidden')){
                event.preventDefault();
                $('.loginModal').modal('show');
            } else {
                if(""===$('#dateSelect').val()){
                    alert('请选择有效期!');
                    event.preventDefault();
                }
            }
        });

        $('#slider').nivoSlider({
            effect: 'fade', //Specify sets like: 'fold,fade,sliceDown'
            slices: 15,
            animSpeed: 200, //Slide transition speed
            pauseTime: 3000,
            startSlide: 0, //Set starting Slide (0 index)
            directionNav: false, //Next & Prev
            directionNavHide: true, //Only show on hover
            controlNav: true, //1,2,3...
            controlNavThumbs: true, //Use thumbnails for Control Nav
            controlNavThumbsFromRel: true, //Use image rel for thumbs
            controlNavThumbsSearch: '.jpg', //Replace this with...
            controlNavThumbsReplace: '_thumb.jpg', //...this in thumb Image src
            keyboardNav: true, //Use left & right arrows
            pauseOnHover: true, //Stop animation while hovering
            manualAdvance: false, //Force manual transitions
            captionOpacity: 0.3, //Universal caption opacity
            beforeChange: function () {
            },
            afterChange: function () {
            },
            slideshowEnd: function () {
            } //Triggers after all slides have been shown
        });

        //date select event
        $('#dateSelect').change(function(){
            setShowData();
        });

        //radio select
        $("input[name='weekend']").click(function(){
            if(""!==$("input[name='weekend']:checked").val()&&undefined!==$("input[name='weekend']:checked").val()&&"on"!==$("input[name='weekend']:checked").val()){
                $('#divPrice').html("￥"+$("input[name='weekend']:checked").val()+"起");
                $('#sPrice').val($("input[name='weekend']:checked").val());
                $('#isWeekend').val($("input[name='weekend']:checked").attr('isWk'));
            }
        });

        var refreshPriceLog = function(productID){
            $.ajax({
                url:'/getPriceLog/'+productID
                ,method:'GET'
            }).done(function(data){
                        var priceLogListStr = "<option value=''>请选择有效期</option>";
                        $.each(data.data,function(index,data){
                            var optionStr = '<option value="__price__,__priceWeekend__,__priceLogID__">__priceName__</option>';
                            optionStr = optionStr.replace(/__price__/,data.price)
                                    .replace(/__priceWeekend__/,data.priceWeekend)
                                    .replace(/__priceLogID__/,data._id)
                                    .replace(/__priceName__/,data.name);
                            priceLogListStr+=optionStr;
                        });
                        $('#dateSelect').empty().append(priceLogListStr);
                    });
        };

        refreshPriceLog('<%=product._id%>');

        var refreshRelevanceProduct = function(productid){
          var productStr = '<li>'+
                                '<a href="/productDetail/__productid__"><img src="__imageurl__" alt="__imagename__"></a>'+
                                '<a href="/productDetail/__productid__" class="cityinfo">'+
                                    '<span class="price">￥<span class="pricebig">__price__</span>起</span>'+
                                    '<span class="info" title="__productname__">__productshortname__</span>'+
                                '</a>'+
                            '</li>';
            $.ajax({
                 url:'/product/relevance/'+productid
                ,method:"GET"
            }).done(function(data){
                        if(data.data.length==0){
                            $('#relevantProduct').removeClass("bs-wcy_htimglistbox");
                            console.log("no relevant products");
                            return;
                        }else{
                            var relevanceProductListStr = "";
                            $.each(data.data,function(index,data){
                                relevanceProductListStr += productStr.replace(/__imageurl__/,data.image.url)
                                        .replace(/__imagename__/,data.image.intro)
                                        .replace(/__price__/,data.price)
                                        .replace(/__productshortname__/,data.shortName)
                                        .replace(/__productname__/,data.name)
                                        .replace(/__productid__/g,data._id);
                            });
                            var header='<div class="bs-wcy_htimglisttitle"><img src="/images/wcy_hotelTictitle01.gif" alt="相关商品"></div>';
                            $('#relevantProduct').append(header+"<ul>"+relevanceProductListStr+"</ul>");
                        }
                    });
        };
        setTimeout(function(){
            refreshRelevanceProduct($('#productID').val());
        },1000);

        var map = new BMap.Map('baidumapcontent');
        var point = new BMap.Point(116.404, 39.915);    // 创建点坐标
        map.centerAndZoom(point,15);                     // 初始化地图,设置中心点坐标和地图级别。
        map.enableScrollWheelZoom();                            //启用滚轮放大缩小

        var setMap = function(lat,lon){
            var point =  new BMap.Point(lat, lon);    // 创建点坐标
            var marker = new BMap.Marker(point);
            map.addOverlay(marker);
            map.centerAndZoom(point,15);             // 初始化地图,设置中心点坐标和地图级别。
            map.enableScrollWheelZoom();
        };

        $('.baidumap').click(function(e){
            e.preventDefault();
            var lat=$(this).attr("lat");
            var lon=$(this).attr("lon");
            setMap( lat , lon );
            $('#baidumap').modal('show');
        });


    });
</script>
