<% include header %>
    <!--轮播-->
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" id="homeBanner">
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
    <!--搜索-->
    <div class="home-searchbox">
        <input type="button" class="search" id="cityName" value="" data-toggle="modal" data-target="#myModal">
        <input type="hidden" id="cityID" value="">
        <input type="button" id="btnSrh" class="searchBt" value="立即查询">
    </div>
    <!--大家都喜欢的-->
    <div class="home-title01"></div>
    <div class="container">
        <div class="row">

            <% data.relate.forEach(function(p){ %>
            <div class="col-xs-6">
                <div class="listProBox">
                    <div class="imgbox"><a href="/wap/productDetail/<%=p._id%>/<%=p._type%>"><img src="http://dd885.b0.upaiyun.com/<%= p.image[0].url %>!WapPreview"></a>
                    </div>
                    <div class="probox">
                        <a href="/wap/productDetail/<%= p._id %>/<%= p.type %>">
                            <div class="hotelName"><%= p.name %></div>
                            <div class="hotelPrice">￥<span><%= p.price %></span></div>
                        </a>
                    </div>
                </div>
            </div>
            <% }); %>

        </div>
    </div>
    <!--TA们是怎么自驾游的-->
    <div class="home-title02"></div>
    <div class="container">
        <div class="home-list home-listimg01">
            <div class="title">在路上</div>
            <p>春城的冬天，每天都可以感受到阳光明媚，春暖花开。一件长袖，一件外套，足矣。加上坐拥的得天独厚的地理位置，这样的日子怎么能不出去旅行呢...</p>
        </div>
        <div class="home-list home-listimg02">
            <div class="title">西瓜子</div>
            <p>春城的冬天，每天都可以感受到阳光明媚，春暖花开。一件长袖，一件外套，足矣。
                加上坐拥的得天独厚的地理位置，这样的日子怎么能不出去旅行呢...</p>
        </div>
        <div class="home-list home-listimg03">
            <div class="title">乐游游</div>
            <p>春城的冬天，每天都可以感受到阳光明媚，春暖花开。一件长袖，一件外套，足矣。
                加上坐拥的得天独厚的地理位置，这样的日子怎么能不出去旅行呢...</p>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body home-modalBody">
                    <div id="home-city">
                        <%var isFirst = true;%>
                        <%for(var key in data.data){%>
                            <%if(isFirst){%>
                            <div class="home-modalMain">
                                <input type="button" class="title home-modalBt btn-block home-modalBtMainDown"
                                       data-toggle="collapse" data-parent="#home-city" data-target="#<%=key%>" value="<%=key%>">
                            </div>
                            <div class="home-modalSub collapse in" id="<%=key%>">
                                <%data.data[key].forEach(function(c){%>
                                <input type="button" class="content home-modalBt btn-block home-modalBtSub" value="<%=c.name%>" cityId="<%=c._id%>" pics=<%-c.image%> />
                                <%});%>
                            </div>
                            <%isFirst = false;}else{%>
                                <div class="home-modalMain">
                                    <input type="button" class="title home-modalBt btn-block home-modalBtMainRight"
                                           data-toggle="collapse" data-parent="#home-city" data-target="#<%=key%>" value="<%=key%>">
                                </div>
                                <div class="home-modalSub collapse" id="<%=key%>">
                                    <%data.data[key].forEach(function(c){%>
                                    <input type="button" class="content home-modalBt btn-block home-modalBtSub" value="<%=c.name%>" cityId="<%=c._id%>" pics=<%c.image%> />
                                    <%});%>
                                </div>
                            <%}%>
                        <%}%>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <% include footer %>
    <script>
        $(document).ready(function () {
            $('#btnSrh').click(function () {
                document.location.href = "/wap/products/" + $('#cityID').val();
            });
            $('.title').click(function () {
                if($(this).hasClass('home-modalBtMainRight')){
                    $(this).removeClass('home-modalBtMainRight');
                    $(this).addClass('home-modalBtMainDown');
                }else{
                    $(this).removeClass('home-modalBtMainDown');
                    $(this).addClass('home-modalBtMainRight');
                }
            });
            $('.content').click(function(){
                $('#cityID').val($(this).attr('cityId'));
                $('#cityName').val($(this).val());
                $('#myModal').modal('toggle');
                refreshHomeBanner($(this).attr('cityId'));
            });
            var refreshHomeBanner = function(city){
                $.ajax({
                    url:'/getCityDetail'
                    ,method:"GET"
                    ,data:{city:city}
                }).done(function(data){
                            if(!city){
                                //页面初次加载的时候
                                $('#cityName').val(data.data.name);
                                $('#cityID').val(data.data._id);
                            }
                            var str = '<div class="item __isactive__"><img src="__imageurl__"></div>';
                            var imageList = "";
                            $.each(data.data.image,function(index,data){
                                if(index==0){
                                    imageList += str.replace(/__imageurl__/,data.wapURL + "!WapDetailHead" ).replace(/__isactive__/,"active");
                                }else{
                                    imageList += str.replace(/__imageurl__/,data.wapURL + "!WapDetailHead" );
                                }
                            });
                            $('#homeBanner').empty().append(imageList);
//                            initSlider();
                        });
            };
            refreshHomeBanner();
        });
    </script>