<%include header%>
<link href="/css/flat-ui.css" rel="stylesheet">
<div class="container">
        <div class="wcy-hotelTicketPayTitle">订单信息</div>
</div>
<div class="wcy-hotelTicketPay">
    <div class="container">
              <table width="100%" border="0" cellspacing="0" cellpadding="0" class="infoTab">
                      <tr>
                        <td width="30%" height="30" align="left" valign="top" class="gray">名称</td>
                        <td width="70%" align="right" valign="top"><%=info.name%></td>
                      </tr>
                      <tr>
                        <%if(4===info.orderType){%>
                            <td height="30" align="left" valign="top" class="gray">入住日期</td>
                        <%}else{%>
                            <td height="30" align="left" valign="top" class="gray">使用日期</td>
                        <%}%>
                        <td align="right" valign="top"><%=info.time%></td>
                      </tr>
                      <tr>
                        <td height="30" align="left" valign="top" class="gray">数量</td>
                        <td align="right" valign="top"><%=info.num%></td>
                      </tr>
                      <tr>
                        <td height="30" align="left" valign="top" class="gray">总价</td>
                        <td align="right" valign="top"><span class="wap-orange">¥<%=info.total%></span></td>
                      </tr>
                      <tr>
                        <td height="30" align="left" valign="top" class="gray">姓名</td>
                        <td align="right" valign="top"><%=info.person%></td>
                      </tr>
                      <tr>
                        <td height="30" align="left" valign="top" class="gray">手机号</td>
                        <td align="right" valign="top"><%=info.mobile%></td>
                      </tr>
                    <%if("y"===info.isNeed){%>
                      <tr>
                        <td height="30" align="left" valign="top" class="gray">发票类型</td>
                        <td align="right" valign="top"><%="p"===info.invoiceType?"个人":"公司"%></td>
                      </tr>
                      <tr>
                        <td height="30" align="left" valign="top" class="gray">发票抬头</td>
                        <td align="right" valign="top"><%=info.invoiceTitle%></td>
                      </tr>
                      <tr class="tdend">
                        <td height="30" align="left" valign="top" class="gray">邮寄地址</td>
                        <td align="right" valign="top"><%=info.invoiceAdd%></td>
                      </tr>
                    <%}%>
                    </table>
    </div>
</div>
<div class="container">
        <div class="wcy-hotelTicketPayTitle">支付方式</div>
</div>
<%if(info.isWeiXin){%>
    <%if(""===info.wxMsg){%>
        <div class="wcy-hotelTicketPay">
            <div class="container">
                <ul class="hotelTicketPayBox">
                    <li>
                        <label class="checkbox checked">
                            微支付
                            <input type="checkbox" name="optionscheckbox" id="optionscheckbox" value="checkbox" checked>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="wcy-hotelTicketPayBt">
                    <button type="button" class="btn wap-submitBt btn-block" id="btnPay">去付款</button>
            </div>
        </div>
    <%}else{%>
        <div colspan="2" id="errorMsg" style="color: #ff0000"><%=info.wxMsg%></div>
    <%}%>
<%}else{%>
    <div class="wcy-hotelTicketPay">
            <div class="container">
                        <ul class="hotelTicketPayBox">
                                  <li>
                                          <label class="checkbox checked">
                                          支付宝
                                            <input type="checkbox" name="optionscheckbox" id="optionscheckbox" value="checkbox" checked>
                                          </label>
                                  </li>
                        </ul>
            </div>
    </div>
    <div class="container">
            <div class="wcy-hotelTicketPayBt">
            <form action="/wap/reqTrade" id="formPay" method="post">
            <!-- hidden fields -->
            <input type="hidden" name="oid" value="<%=info.oid%>"/>
            <input type="hidden" name="_id" value="<%=info._id%>"/>
            <button type="submit" class="btn wap-submitBt btn-block">去付款</button>
            </form>
            </div>
    </div>
<%}%>
<%include footer%>
<%if(info.isWeiXin){%>
<script src="/js/md5.js"></script>
<script src="/js/sha1.js"></script>
<script type="text/javascript" src="/js/weixin/wxTool.js"></script>
<script>
    var ip = '<%=info.ip%>';
    var appId = '<%=info.appId%>';
    var partnerId = '<%=info.partnerId%>';
    var key = '<%=info.key%>';
    var partnerKey = '<%=info.partnerKey%>';
    var pName = '<%=info.name%>';
    var orderId = '<%=info.oid%>';
    var order_id = '<%=info._id%>';
    var totalFee = "1";  //test amount
    var oldTimeStamp = getTimeStamp();
    var oldNonceStr = getNonceStr();
    var oldPackageString = getPackage(pName,orderId,order_id,partnerId,ip,totalFee,partnerKey);
    var sign = getSign(appId,key,oldNonceStr,oldPackageString,oldTimeStamp);
    document.addEventListener('WeixinJSBridgeReady',function onBridgeReady(){
        //公众号支付
        $('#btnPay').click(function(e){
            if(true!==$('#optionscheckbox').prop('checked')){
                alert('请选择支付方式!');
            }else{
                WeixinJSBridge.invoke('getBrandWCPayRequest',{
                    "appId" : appId, //公众号名称，由商户传入
                    "timeStamp" : oldTimeStamp, //时间戳
                    "nonceStr" : oldNonceStr, //随机串
                    "package" : oldPackageString,//扩展包
                    "signType" : 'SHA1', //微信签名方式:1.sha1
                    "paySign" : sign //微信签名
                },function(res){
                    if(res.err_msg == "get_brand_wcpay_request:ok" ) {
                        document.location.href = "/wap/order/success/"+order_id;
                    }
                    // 使用以上方式判断前端返回,微信团队郑重提示：res.err_msg将在用户支付成功后返回ok，但并不保证它绝对可靠。
                    //因此微信团队建议，当收到ok返回时，向商户后台询问是否收到交易成功的通知，若收到通知，前端展示交易成功的界面；若此时未收到通知，商户后台主动调用查询订单接口，查询订单的当前状态，并反馈给前端展示相应的界面。
                });
            }
        });
    },false);
</script>
<%}%>
<script>
    $(document).ready(function(){
        $('#formPay').submit(function(e){
            if(true!==$('#optionscheckbox').prop('checked')){
                alert('请选择支付方式!');
                return false;
            }
        });
    });
</script>