<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>万车游 移动端 订单详情</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
    <link rel="stylesheet" href="./../css/bootstrap.min.css">
    <link href="./../css/wcy-wap.css" rel="stylesheet" type="text/css">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
        <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

  </head>

<body>
<div id="wrap">
<header class="head">
		<h1><a class="leftlink" href="#"></a>订单详情<a class="righthome" href="#"></a></h1>
</header>
<div class="wcy-orderdetail">
	<div class="container">
    		<div class="list">
       		  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="35%" height="30" align="left" valign="top">订单编号：</td>
                        <td width="65%" align="left" valign="top"><span><%=order.oid%></span></td>
                      </tr>
                      <tr>
                        <td height="30" align="left" valign="top">下单时间：</td>
                        <td align="left" valign="top"><%=order.orderDate%></td>
                      </tr>
                      <tr>
                        <td height="30" align="left" valign="top">订单状态：</td>
                        <td align="left" valign="top"><span class="wap-green"><%=order.status%></span></td>
                      </tr>
                    </table>
      </div>
    		<div class="list">
       		  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="35%" height="30" align="left" valign="top">名称：</td>
                        <td width="65%" align="left" valign="top"><%=order.name%></td>
                      </tr>
                      <tr>
                        <td height="30" align="left" valign="top">类型：</td>
                        <td align="left" valign="top">1.1-1.31有效期单日票</td>
                      </tr>
                      <tr>
                        <td height="30" align="left" valign="top">数量：</td>
                        <td align="left" valign="top"><%=order.quantity%></td>
                      </tr>
                      <tr>
                        <td height="30" align="left" valign="top">总价：</td>
                        <td align="left" valign="top"><span class="wap-orange">¥<%=order.totalPrice%></span></td>
                </tr>
                    </table>
      </div>
    		<div class="list">
       		  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="35%" height="30" align="left" valign="top">使用人姓名：</td>
                        <td width="65%" align="left" valign="top"><%=order.person%></td>
                </tr>

                      <tr>
                        <td height="30" align="left" valign="top">手机号：</td>
                        <td align="left" valign="top"><%=order.mobile%></td>
                </tr>
              </table>
	  </div>
    		<div class="listnoborder">
       		  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="35%" height="30" align="left" valign="top">发票类型：</td>
                        <td width="65%" align="left" valign="top">个人</td>
                </tr>
                      <tr>
                        <td height="30" align="left" valign="top">发票抬头：</td>
                        <td align="left" valign="top">张三</td>
                </tr>
                      <tr>
                        <td height="30" align="left" valign="top">邮寄地址：</td>
                        <td align="left" valign="top">上海市徐汇区田林路140号</td>
                </tr>
              </table>
	  </div>
    </div>
</div>
<div class="container">
		<div class="wcy-orderdetailTitle">电子凭证</div>
</div>
<div class="wcy-orderdetail">
		<div class="container">
        <img src="images/wcy_QRCode.png" data-src="holder.js/170x170" alt="电子凭证"></div>
</div>
<div class="container">
		<div class="wcy-orderdetailTitle">产品包含</div>
</div>
<div class="wcy-orderdetail">
		<div class="container">
        		<p>希尔顿大床房1晚  含双早</p>
                <p>西湖门票一张</p>
        </div>
</div>
<div class="container">
		<div class="wcy-orderdetailTitle">预定须知</div>
</div>
<div class="wcy-orderdetail">
		<div class="container">
        		<p>兑换规则:<pre>
<%=order.bookRule%></pre>
            </p>
                <p>使用规则：<pre>
<%=order.useRule%></pre></p>
                <p>取消规则：<pre>
<%=order.cancelRule%></pre></p>
        </div>
</div>

<%include footer%>
