<% include header %>
<%if("detail"===info.type){%>
<div class="wcy-prodetail">
    <div class="container">
        <div class="wcy-Prodetailbox">
            <%products.forEach(function(product){%>
            <div class="blackbox">
                <p>景点名称：<%=product.product.name%>

                <%-product.product.level%>

                <p>景点地址：<%=product.product.addr%> <a href="#">地图</a>

                <p>营业时间：<%=product.product.openTime%>
            </div>
            <div class="graybox">
                <img src="<%=product.product.image[0]?product.product.image[0].url:""%>!WapDetail" class="imgfloat">
                <p><%-product.product.intro.replace(/\n/g, '<br/>')%></p>
                <img src="<%=product.product.image[1]?product.product.image[1].url:""%>!WapDetail">
            </div>
            <% });%>
        </div>
    </div>
</div>
<%}else if("relate"===info.type){%>
<div class="container">
    <div class="row">
        <%info.relate.forEach(function(p){%>
        <div class="col-xs-6">
            <div class="listProBox">
                <div class="imgbox"><a href="/wap/productDetail/<%=p._id%>/<%=p.type%>"><img src="http://dd885.b0.upaiyun.com/<%=p.image[0].url?p.image[0].url:""%>" alt="<%=p.image[0].intro?p.image[0].intro:""%>"/></a></div>
                <a href="/wap/productDetail/<%=p._id%>/<%=p.type%>"><div class="probox">
                        <div class="hotelName"><%=p.name%></div>
                        <div class="hotelPrice">￥<span><%=p.price%></span></div>
                    </div></a>
            </div>
        </div>
        <%});%>
    </div>
</div>
<%}else{%>
<div class="wcy-prodetail">
    <div class="container">
        <div class="wcy-Prodetailbox">
            <div class="graybox">
                <p><span class="black">兑换规则</span></br>
                    <%-info.bookRule.replace(/\n/g, '<br/>')%></p>
                <p><span class="black">使用规则</span></br>
                    <%-info.useRule.replace(/\n/g, '<br/>')%></p>
                <p><span class="black">取消规则</span></br>
                    <%-info.cancelRule.replace(/\n/g, '<br/>')%></p>
            </div>
        </div>
    </div>
</div>
<%}%>
<% include footer %>
