<%include header%>
<div class="container">
		<div class="row">
        <div class="listProCity"><h1><%=city.name%></h1></div>
            <%products.forEach(function(p){%>
                <div class="col-xs-6">
                    <div class="listProBox">
                        <div class="imgbox"><a href="/wap/productDetail/<%=p._id%>/<%=p.type%>"><img src="http://dd885.b0.upaiyun.com/<%=p.image[0].url%>!WapPreview" alt="<%=p.image[0].intro%>"/></a></div>
                        <a href="/wap/productDetail/<%=p._id%>/<%=p.type%>"><div class="probox">
                            <div class="hotelName"><%=p.name%></div>
                            <div class="hotelPrice">￥<span><%=p.price%></span></div>
                        </div></a>
                    </div>
                </div>
            <%});%>
        </div>
</div>
<%include footer%>
