<% include header %>
<link href="/css/flat-ui.css" rel="stylesheet">
<form action="/wap/confirm" method="post" id="formConfirm">
<div class="container">
    <div class="wcy-hTNoInvoiceTitle"><%=product.name%></div>
</div>
<div class="wcy-hTNoInvoice">
    <div class="container">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="infoTab">
            <tr>
                <%if(4===product.type){%>
                <td height="30" align="left" valign="top" class="gray">使用日期</td>
                <%}else{%>
                <td height="30" align="left" valign="top" class="gray">有效期</td>
                <%}%>
                <td align="right" valign="top"><%=product.time%></td>
            </tr>
            <tr>
                <td height="30" align="left" valign="top" class="gray">单价</td>
                <td align="right" valign="top" class="wap-orange"><span class="wcy-f12">¥</span><%=product.price%></td>
            </tr>
            <tr>
                <td width="30%" height="30" align="left" valign="middle" class="gray">数量</td>
                <td width="70%" align="right" valign="top">
                    <div class="wcy-tickeBox floatRt">
                        <input type="button"  id="sub" value="-" class="subbt">
                        <input type="text" class="num" id="num" name="num" value="1">
                        <input type="button"  id="add" value="+" class="addbt">
                    </div>
                </td>
            </tr>
            <tr class="tdend">
                <td height="30" align="left" valign="top" class="gray">总价</td>
                <td align="right" valign="top" class="wap-orange"><span class="wcy-f12">¥</span><span id="display"><%=product.price%></span></td>
            </tr>
        </table>
    </div>
</div>
<div class="container">
    <div class="wcy-hTNoInvoiceTitle">产品内容</div>
    <p><%-product.content.replace(/\n/g, '<br/>')%></p>
    <div class="wcy-hTNoInvoiceTitle">预订规则</div>
    <p><%-product.bookRule.replace(/\n/g, '<br/>')%></p>
    <div class="wcy-hTNoInvoiceTitle">使用规则</div>
    <p><%-product.useRule.replace(/\n/g, '<br/>')%></p>
    <div class="wcy-hTNoInvoiceTitle">取消规则</div>
    <p><%-product.cancelRule.replace(/\n/g, '<br/>')%></p>
</div>
<div class="container">
    <div class="wcy-hotelTicketPayTitle">旅客信息</div>
</div>
<div class="wcy-hotelTicketPay">
    <div class="container">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="infoTab">
            <tr>
                <td width="30%" height="30" align="left" valign="middle" class="gray">
                    <%if(4===product.type){%>
                    入住人姓名
                    <%}else{%>
                    使用人姓名
                    <%}%>
                </td>
                <td width="70%" align="right" valign="top">
                    <input type="name1" id="person" name="person" class="form-control" placeholder="填写姓名">
                </td>
            </tr>
            <tr class="tdend">
                <td height="30" align="left" valign="middle" class="gray">手机号</td>
                <td align="right" valign="top">
                    <input type="mobile" id="mobile" name="mobile" class="form-control" placeholder="填写手机号">
                </td>
            </tr>
        </table>
    </div>
</div>
<%if(4===product.type){%>
    <input type="hidden" id="orderType" name="orderType" value="p"/>
<div class="container">
    <div class="wcy-hotelTicketPayTitle">发票信息</div>
</div>
<div class="wcy-hotelTicketPay">
    <div class="container">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="infoTab">
            <tr>
                <td width="30%" height="30" align="left" valign="top" class="gray">是否需要发票</td>
                <td width="70%" align="right" valign="top">
                    <div class="form-group">
                        <div class="switch switch-small">
                            <input id="isNeed" name="isNeed" type="checkbox" />
                        </div>
                    </div>
                </td>
            <tr>
                <td width="30%" height="30" align="left" valign="middle" class="gray">发票类型</td>
                <td width="70%" align="right" valign="top">
                    <input name="radio" type="radio" id="invoiceType" name="invoiceType" value="p" checked>
                    个人&nbsp;&nbsp;&nbsp;
                    <label for="inType"></label>
                    <input type="radio" name="radio" id="inType2" name="inType" value="e">
                    公司
                    <label for="inType2"></label>
                </td>
            </tr>
            <tr>
                <td height="30" align="left" valign="middle" class="gray">发票抬头</td>
                <td align="right" valign="top">
                    <input type="name2" class="form-control" id="invoiceTitle" name="invoiceTitle" placeholder="请填写发票抬头">
                </td>
            </tr>
            <tr class="tdend">
                <td height="30" align="left" valign="middle" class="gray">邮寄地址</td>
                <td align="right" valign="top">
                    <input type="mobile" class="form-control" id="invoiceAdd" name="invoiceAdd" placeholder="请填写邮寄地址">
                </td>
            </tr>
            </tr>
        </table>
    </div>
</div>
<%} else {%>
    <input type="hidden" id="orderType" name="orderType" value="t"/>
    <%}%>
<div class="container">
    <div id="errorBox" class="hidden">
        <div colspan="2" id="errorMsg" style="color: #ff0000"></div>
    </div>
    <div class="wcy-hotelTicketPayBt">
        <button type="submit" class="btn wap-submitBt btn-block">提交订单</button>
    </div>
</div>
    <!-- hidden fields -->
    <input type="hidden" id="sp" value=<%=product.price%> />
    <input type="hidden" id="type" name="type" value="<%=product.type%>" />
    <input type="hidden" id="pid" name="pid" value="<%=product.id%>"/>
    <input type="hidden" id="time" name="time" value="<%=product.time%>"/>
    <input type="hidden" id="pName" name="pName" value="<%=product.name%>"/>
    <%if(4!==product.type){%>
    <input type="hidden" id="isWeekend" name="isWeekend" value="<%=product.isWeekend%>"/>
    <input type="hidden" id="lid" name="lid" value="<%=product.lid%>"/>
    <%}%>
</form>
<%include footer%>
<link href="/css/bootstrap-switch.css" rel="stylesheet">
<script src="/js/bootstrap-switch.js"></script>
<script src="/js/underscore.min.js"></script>
<script>
    $(document).ready(function(){
        var us = _.noConflict();

        $('#isNeed').bootstrapSwitch({
            onColor:'success',
            onText:'需要',
            offText:'不需要'
        });
        var recaculatePrice = function(){
            $('#display').html(parseInt($('#sp').val())*$("#num").val());
        };
        recaculatePrice();
        //select num
        $("#add").click(function(){
            var num=$("#num").val();
                num=parseInt(num)+1;
            if(num==0){
                num = 1;
            }
            if(num>99){
                num = 99;
            }
            $("#num").val(num);
            recaculatePrice();
        });

        $("#sub").click(function(){
            var num = $("#num").val();
                 num = parseInt(num) - 1;
            if( num <= 0 ){
                num = 1;
            }
            if( num > 99 ){
                num = 99;
            }
            $("#num").val(num);
            recaculatePrice();
        });

        $('#num').keyup(function(){
            var num = $('#num').val();
            if(num <= 0){
                num = 1;
            }
            if(num > 99){
                num = 99;
            }
            $("#num").val(num);
            recaculatePrice();
        });
        //submit
        $('#formConfirm').submit(function(e){
            e.preventDefault();
            if(us.isEmpty($('#person').val().trim())){
                $('#errorBox').removeClass('hidden');
                $('#errorMsg').empty().text('使用人姓名不能为空!');
                return false;
            }else if(us.isEmpty($('#mobile').val().trim())){
                $('#errorBox').removeClass('hidden');
                $('#errorMsg').empty().text('手机号不能为空!');
                return false;
            }
            <%if(4===product.type){%>
            else if( $('#isNeed').prop('checked') && us.isEmpty($('#invoiceTitle').val().trim()) ){
                $('#errorBox').removeClass('hidden');
                $('#errorMsg').empty().text('您选择了发票，发票抬头为必填!');
                return false;
            }else if($('#isNeed').prop('checked') && us.isEmpty($('#invoiceAdd').val().trim())){
                $('#errorBox').removeClass('hidden');
                $('#errorMsg').empty().text('您选择了发票，发票地址为必填!');
                return false;
            }
           <%}%>
            $.ajax({
                url:"/wap/order/submit"
                ,method:"POST"
                ,data:$('#formConfirm').serialize()
            }).done(function(data){
                        if(data.error == 10010){
                            window.location.href="/wap/login";
                        }else if(data.error !=0 ){
                            //如果报错则显示错误信息
                            $('#errorBox').removeClass('hidden');
                            $('#errorMsg').empty().text(data.errorMsg);
                        }else{
                            window.location.href="/wap/order/confirm/"+data._id;
                        }
                    }).fail(function(){
                        $('#errorBox').removeClass('hidden');
                        $('#errorMsg').empty().text("网络异常，请重试！");
                    });

        });
    });
</script>