<% include header %>
<form action="/wap/confirm" method="get" id="formConfirm">
<div class="container">
    <div class="wcy-hTNoInvoiceTitle"><%=product.name%></div>
</div>
<div class="wcy-hTNoInvoice">
    <div class="container">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="infoTab">
            <tr>
                <%if(4===product.type){%>
                <td height="30" align="left" valign="top" class="gray">使用日期</td>
                <%}else{%>
                <td height="30" align="left" valign="top" class="gray">有效期</td>
                <%}%>
                <td align="right" valign="top"><%=product.time%></td>
            </tr>
            <tr>
                <td height="30" align="left" valign="top" class="gray">单价</td>
                <td align="right" valign="top" class="wap-orange"><span class="wcy-f12">¥</span><%=product.price%></td>
            </tr>
            <tr>
                <td width="30%" height="30" align="left" valign="middle" class="gray">数量</td>
                <td width="70%" align="right" valign="top">
                    <div class="wcy-hTnumberbox">
                        <input type="button"  id="sub" value="" class="subbt">
                        <input type="text" class="num" id="num" name="num" value="1">
                        <input type="button"  id="add" value="" class="addbt">
                    </div>
                </td>
            </tr>
            <tr class="tdend">
                <td height="30" align="left" valign="top" class="gray">总价</td>
                <td align="right" valign="top" class="wap-orange"><span class="wcy-f12">¥</span><span id="display"><%=product.price%></span></td>
            </tr>
        </table>
    </div>
</div>
<div class="container">
    <div class="wcy-hTNoInvoiceTitle">产品内容</div>
    <p><%-product.content.replace(/\n/g, '<br/>')%></p>
    <div class="wcy-hTNoInvoiceTitle">预订规则</div>
    <p><%-product.bookRule.replace(/\n/g, '<br/>')%></p>
    <div class="wcy-hTNoInvoiceTitle">使用规则</div>
    <p><%-product.useRule.replace(/\n/g, '<br/>')%></p>
    <div class="wcy-hTNoInvoiceTitle">取消规则</div>
    <p><%-product.cancelRule.replace(/\n/g, '<br/>')%></p>
</div>
<div class="container">
    <div class="wcy-hotelTicketPayTitle">旅客信息</div>
</div>
<div class="wcy-hotelTicketPay">
    <div class="container">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="infoTab">
            <tr>
                <td width="30%" height="30" align="left" valign="middle" class="gray">
                    <%if(4===product.type){%>
                    入住人姓名
                    <%}else{%>
                    使用人姓名
                    <%}%>
                </td>
                <td width="70%" align="right" valign="top">
                    <input type="name1" id="name" name="name" class="form-control" placeholder="填写姓名">
                </td>
            </tr>
            <tr class="tdend">
                <td height="30" align="left" valign="middle" class="gray">手机号</td>
                <td align="right" valign="top">
                    <input type="mobile" id="mobile" name="mobile" class="form-control" placeholder="填写手机号">
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="container">
    <div class="wcy-hotelTicketPayTitle">发票信息</div>
</div>
<div class="wcy-hotelTicketPay">
    <div class="container">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="infoTab">
            <tr>
                <td width="30%" height="30" align="left" valign="top" class="gray">是否需要发票</td>
                <td width="70%" align="right" valign="top">
                    <div class="form-group">
                        <div class="switch switch-small">
                            <input id="isNeed" name="isNeed" type="checkbox" />
                        </div>
                    </div>
                </td>
            <tr>
                <td width="30%" height="30" align="left" valign="middle" class="gray">发票类型</td>
                <td width="70%" align="right" valign="top">
                    <input name="radio" type="radio" id="fptype" value="p" checked>
                    个人&nbsp;&nbsp;&nbsp;
                    <label for="fptype"></label>
                    <input type="radio" name="radio" id="fptype2" value="e">
                    公司
                    <label for="fptype2"></label>
                </td>
            </tr>
            <tr>
                <td height="30" align="left" valign="middle" class="gray">发票抬头</td>
                <td align="right" valign="top">
                    <input type="name2" class="form-control" id="title" name="title" placeholder="请填写发票抬头">
                </td>
            </tr>
            <tr class="tdend">
                <td height="30" align="left" valign="middle" class="gray">邮寄地址</td>
                <td align="right" valign="top">
                    <input type="mobile" class="form-control" id="address" name="address" placeholder="请填写邮寄地址">
                </td>
            </tr>
            </tr>
        </table>
    </div>
</div>
<div class="container">
    <div class="wcy-hotelTicketPayBt">
        <button type="submit" class="btn wap-submitBt btn-block">提交订单</button>
    </div>
</div>
    <!-- hidden fields -->
    <input type="hidden" id="sp" value=<%=product.price%> />
    <input type="hidden" id="type" name="type" value="<%=product.type%>" />
    <input type="hidden" id="pid" name="pid" value="<%=product.id%>"/>
    <input type="hidden" id="time" name="time" value="<%=product.time%>"/>
</form>
<%include footer%>
<link href="/css/bootstrap-switch.css" rel="stylesheet">
<script src="/js/bootstrap-switch.js"></script>
<script src="/js/underscore.min.js"></script>
<script>
    $(document).ready(function(){
        var us = _.noConflict();

        $('#isNeed').bootstrapSwitch({
            onColor:'success',
            onText:'需要',
            offText:'不需要'
        });
        //select num
        $("#add").click(function(){
            var n=$("#num").val();
            var num=parseInt(n)+1;
            if(num==0){num = 1;}
            $("#num").val(num);
            $('#display').html(parseInt($('#sp').val())*num);
        });

        $("#sub").click(function(){
            var n=$("#num").val();
            var num=parseInt(n)-1;
            if(num==0){alert("不能为0!"); return;}
            $("#num").val(num);
            $('#display').html(parseInt($('#sp').val())*num);
        });

        $('#num').keyup(function(){
            var n = $('#num').val();
            if(n<=0){
                alert('数字不能小于等于0!');
                $('#num').val(1);
            }
            $('#display').html(parseInt($('#sp').val())*$('#num').val());
        });
        //submit
        $('#formConfirm').submit(function(e){
            e.preventDefault();
            if(us.isEmpty($('#name').val().trim())){
                alert('姓名不能为空!');
                return false;
            }
            if(us.isEmpty($('#mobile').val().trim())){
                alert('手机号不能为空!');
                return false;
            }
            if($('#isNeed').prop('checked')){
                if(us.isEmpty($('#title').val().trim())){
                    alert('发票抬头不能为空!');
                    return false;
                }
                if(us.isEmpty($('#address').val().trim())){
                    alert('发票地址不能为空!');
                    return false;
                }
            }
        });
    });
</script>